* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 arial, helvetica, sans-serif;
}
/* General reset */
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
/* General settings */

.container{
	width: 1024px;
	margin: 0 auto;
	padding: 0 25px;
}
.clearfix:after{
	content: "";
	display: table;
	width: 100%;
	clear: both;
}

/*HEADER START*/
header{
	background: #fff;
	height: 67px;
}
.logo{
	float: left;
	padding-top: 20px;
}
.header-nav{
	float: right;
	padding-top: 20px;
}
.header-nav li{
	display: inline-block;
	border: 1px solid transparent;
	padding: 8px 10px;
}
.header-nav li + li{
	margin-left: 20px;
}
.header-nav li:hover{
	background: #33abf5;
	border: 1px solid #1784d1;
	border-radius: 5px;
}
.header-nav li a{
	font-size: 16px;
	color: #676767;
}
.header-nav li a:hover{
	text-decoration: none;
	color: #fff;
}
/*HEADER END*/

/*MAIN START*/
main{
	position: relative;
}
.call-to-action{
	background: url("../img/header-bg.jpg") no-repeat top center / cover;
	height: 100vh;
	text-align: center;
}
.call-to-action-text{
	color: #fff;
	padding-top: 170px;
}
.call-to-action-text h1{
	font-size: 52px;
	margin-bottom: 10px;
}
.call-to-action-text span{
	font-size: 48px;
	font-weight: normal;
	display: block;
	margin-bottom: 40px;
}
.btn{
	display: inline-block;
	font-size: 34px;
	font-weight: bold;
    color: #fff;
    border-radius: 5px;
    padding: 12px 50px;
	background: linear-gradient(to top, #36af24, #6feb55);
	box-shadow: 0 0 6px 6px rgba(0,0,0, .2);
}
.btn:hover{
	text-decoration: none;
	transform: scale(1.2);
}
.gallery-item{
	width: 480px;
	height: 240px;
	background: #fff;
	position: absolute;
	top: 570px;
	left: 425px;
	border-radius: 5px;
	border-bottom: 7px solid #51c03d;
	padding: 0 28px 0 28px;
}
.gallery-item-head{
	text-align: center;
	font-size: 22px;
	color: #868686;
	padding: 20px 0 27px 0;
}
.item{
	display: inline-block;
	float: left;
	padding: 5px 0;
	margin-left: 5px;
}
.item span{
	display: block;
	color: #929292;
}
.content{
	background: #ececec;
	text-align: center;
}
.title{
	color: #7e7c7c;
	padding-top: 212px;
}
.title p{
	font-size: 26px;
	margin-bottom: 10px;
}
.title span{
	font-size: 22px;
}
.service{
	text-align: center;
	padding-bottom: 80px;
}
.service-item{
	display: inline-block;
	margin: 50px 37px 0 37px;
}
.service-item span{
	display: block;
	margin-top: 17px;
	font-size: 20px;
	color: #7e7c7c;
}
/*MAIN END*/

/*FOOTER START*/
footer{
	height: 30px;
	text-align: center;
	background: #414141;
	font-size: 14px;
	color: #b1b1b1;
	line-height: 30px;
}
/*FOOTER END*/





